.site-content {
  //using to see all content on page, once dont editing will delete
  background-color: $font-awesome-color;

  height: 110vh;
  .widget {
    display: none;
  }
  .error-404 {
    @include center-page;
    @include center-block;
    height: -webkit-fill-available;
    .page-header {
      margin-right: auto;
      margin-left: auto;
      width: 45%;
    }
    .page-content {
      padding: 10px 10px 10px 10px;

      .search-box-content {
        box-shadow: $section-box-shadow;
        width: 28%;
        fieldset {
          width: 80%;
          border: none;
        }
        p {
          text-align: center;
          line-height: 1.3;
          font-size: 24px;
          color: $btn-border-color;
        }
      }
      .four-0-four {
        display: flex;
        justify-content: space-around;
        font-size: 200px;
        color: $btn-border-color;
        .first-4 {
          margin-right: 800px;
        }
      }
    }
  }
}
