.error404 {
  background: $hamburger-color;

  .site-content {
    @media screen and (max-width: 620px) {
      overflow: hidden;
    }

    .error-404 {
      @include center-page;
      @include center-block;

      // .phone-404 {
      //   display: block;
      //   font-size: 100px;
      //   @media screen and (min-width: 620px) {
      //     display: none;
      //   }
      // }

      .page-content {
        // padding: 10px 10px 10px 10px;
        // min-height: 115vh;

        @media screen and (max-width: 620px) {
          height: 115vh;
        }

        .search-box-content {
          box-shadow: 43px 37px 22px -9px rgb(0, 0, 0);
          width: 28%;
          @media screen and (max-width: 620px) {
            width: 100%;
          }

          p {
            text-align: center;
            line-height: 1.3;
            font-size: 24px;
            color: $btn-border-color;
          }
        }
        // .anime-rotate {
        //   @media screen and (max-width: 620px) {
        //     margin-top: 120%;
        //     margin-bottom: 25%;
        //     .grass-blades {
        //       width: 213px;
        //       height: 2px;
        //       left: 1%;
        //     }
        //     .small-leaves {
        //       margin-top: 21%;
        //       width: 43%;
        //       left: 12%;
        //     }
        //     .single-fish-3 {
        //       width: 16%;
        //     }
        //   }
        // }

        .four-0-four {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 200px;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-auto-rows: auto;

          .animation-container {
            min-width: 50%;
            height: 50vw;
            position: relative;
          }

          .first-4 {
            color: white;
            width: 25%;
          }
          .second-4 {
            width: 25%;
            color: white;
          }
          @media screen and (max-width: 620px) {
            display: none;
          }
        }
      }
      @media screen and (max-width: 620px) {
        width: 100%;
      }
    }
  }
}
