/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Aquaponics page */
// -----Hero Banner-----//
.hero-banner {
  position: relative;
}
.banner-pic {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  object-fit: cover;
  height: 21rem;
  width: 100%;

  // Note: we can remove the code below if we are happy with the style of the banner semi-circle
  // THis code brings the edges up higher. Impossible to do otherwise.

  // @include desktop {
  //   border-radius: 50% 50% 50% 50% / 0% 0% 80% 80%;
  // }
}

.banner-title {
  @include center-page;
  position: absolute;
  bottom: 7vw;
  text-align: center;
  width: 100%;
  max-width: 100%;
  color: white;
  text-transform: uppercase;
}

.page-aquaponics {
  // -----What is Aquaponics Section-----//
  .intro-aqua {
    display: flex;

    @include desktop {
      @include center-page;
      line-height: $font__line-height-body;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .what-aqua-text {
    max-width: 100%;
    @include desktop {
      max-width: 66%;
    }
  }
  .what-aqua-imgs {
    display: none;
    @include desktop {
      display: block;
      width: 33%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        " 1 2 "
        " 3 4 ";
      img {
        width: 150px;
        &:nth-child(1) {
          grid-area: 1;
          padding: 2rem;
          object-fit: contain;
        }
        &:nth-child(2) {
          grid-area: 2;
          padding: 2rem;
          object-fit: contain;
        }
        &:nth-child(3) {
          grid-area: 3;
          padding: 2rem;
          object-fit: contain;
        }
        &:nth-child(4) {
          grid-area: 4;
          padding: 2rem;
          object-fit: contain;
        }
      }
    }
  }
  //end what is aqua section

  // How Aqua Works Section

  // to do later

  // History of Aquaponics Section

  .history-aqua {
    @include center-page;
    padding-left: 40px;
    padding-bottom: 40px;
    p {
      position: relative;

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        &::before {
          transform: translate(-260%);
          @include roadmap-dot;
          width: 15px;
          height: 15px;
          background: $roadmap-dot-color;
        }
      }
    }
  }
  //gradient for photo
  .hist-aqua-img {
    // height: 508px;
    // width: 708px;
    opacity: 0.78;
    border-radius: 15px;
    background: linear-gradient(180deg, #00d4e8 0%, #002d6e 100%);
  }
}
