/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Aquaponics page */
// -----Hero Banner-----//
.hero-banner {
  position: relative;
}
.banner-pic {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  // @include desktop {
  //   border-radius: 50% 50% 50% 50% / 0% 0% 80% 80%;
  // }
}

.banner-title {
  @include center-page;
  position: absolute;
  bottom: 7vw;
  text-align: center;
  width: 100%;
  max-width: 100%;
  color: white;
  text-transform: uppercase;
}

.page-aquaponics {
  .intro-aqua {
    @include center-page;
    line-height: $font__line-height-body;
    padding-left: 20px;
    padding-right: 20px;
  }
  // -----What is Aquaponics Section-----//

  .intro-aqua {
    display: flex;
  }
  .what-aqua-text {
    max-width: 66%;
  }
  .what-aqua-imgs {
    width: 33%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      " 1 2 "
      " 3 4 ";
    img {
      width: 150px;
      &:nth-child(1) {
        grid-area: 1;
        padding: 1rem;
        object-fit: contain;
      }
      &:nth-child(2) {
        grid-area: 2;
        padding: 1rem;
        object-fit: contain;
      }
      &:nth-child(3) {
        grid-area: 3;
        padding: 1rem;
        object-fit: contain;
      }
      &:nth-child(4) {
        grid-area: 4;
        padding: 1rem;
        object-fit: contain;
      }
    }
  }
}
