.animation {
  //   position: relative;
  width: 100%;
  height: 100%;

  .animation-bg {
    position: relative;
    top: -50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 50%);
    grid-area: animation;
    .white-circle {
      z-index: 100;
    }
    .illustration-rings {
      margin-top: 10%;
      width: 80%;
      left: 10%;
    }
    .earth {
      margin-top: 35%;
      width: 30%;
      left: 35%;
    }
    .multiple-fish {
      position: relative;
      width: 100%;
      left: 23%;
      bottom: -15%;
      img {
        width: 27%;
      }
    }
    .green-1 {
      position: relative;
      width: 100%;
      bottom: -60%;
      .small-leaves {
        left: 33%;
      }
      img {
        width: 50%;
      }
    }
    .green {
      width: 40%;
      bottom: -45%;
      position: relative;
      .grass-blades {
        left: 62%;
        img {
          width: 30%;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// css animations speeds

.rotate-reverse {
  animation: back_rotation 60s infinite linear;
  transform-origin: 50% 50%;
  @keyframes back_rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

// // grass movement
// @keyframes sway1 {
//   0%,
//   100% {
//     transform: rotate(2deg);
//   }
//   50% {
//     transform: rotate(-2deg);
//   }
// }

// @keyframes sway2 {
//   0%,
//   100% {
//     transform: rotate(4deg);
//   }
//   50% {
//     transform: rotate(-4deg);
//   }
// }
