.page-contact-us {
   .contact-form-border {
    @include center-page;
    max-width: 400px;
   }
  .contact-us-form {
    @include center-block;

    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: orange;
    @include desktop {
      margin-top: 50px;
      margin-bottom: 50px;
      border: 1px solid white;
      border-radius: 20px;
      box-shadow: 0 14px 40px 10px rgba(0, 0, 0, 0.1);
    }

    .entry-title {
      text-transform: uppercase;
      color: $font-awesome-color;
      text-align: left;
      padding-left: 25px;
    }

    textarea,
    input {
      border-radius: 7px;
      padding: 0.6rem;
      max-width: 330px;
    }

    .wpcf7-submit {
      height: 3rem;
      width: 250px;
      background: linear-gradient(
        90deg,
        rgba(0, 45, 110, 1) 0%,
        rgba(47, 136, 211, 1) 100%
      );
    }

    .textarea-msg #text {
      text-align: left;
    }
  }
}
