// front page style

//testimony section

.fp-testimonies {
  @include center-page;
}

.testimony-entries {
  width: 100%;
  .fp-testimony {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .fp-testimony {
      width: 50%;
    }
    .testimony-content {
      width: 50%;
    }
  }
}

//fp-partners section
.fp-partners {
  @include center-page;
  margin-bottom: 12rem;
  margin-top: 12rem;
  h2 {
    width: 100%;
    padding-left: 10%;
    margin-bottom: 6rem;
  }

  .partner-entries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto auto;
    grid-gap: 50px;

    article {
      width: 100%;
      align-self: center;
      text-align: center;
      img {
        height: 8vw;
        width: auto;
      }
    }
  }
}

//roadmap

.roadmap-container {
  width: 100%;
  background: $fp-gradient;
}
.roadmap {
  display: flex;
  flex-wrap: wrap;
  @include center-page;
  padding: 20px;

  h2 {
    width: 100%;
    color: white;
  }

  ul {
    padding: 0;
    width: 100%;
    li {
      width: 100%;
      margin-bottom: 70px;
      position: relative;
    }
  }
  .roadmap-left {
    width: 50%;

    ul {
      list-style: none;
      border-right: 8px solid #ffffff;

      li {
        height: 100px;
        h3 {
          margin-top: 0;
        }
        &:hover {
          h3::after {
            @include roadmap-dot-hover;
            transform: scale(1.3);
          }
          h3 {
            font-size: 2rem;
          }
          .roadmap-p {
            font-size: 1.1rem;
          }
        }

        h3 {
          &::after {
            @include roadmap-dot;
            right: -19px;
            top: -2px;
          }
        }
        p {
          padding-right: 60px;

          @include desktop {
            padding-right: 100px;
          }
        }
      }
    }
  }
  .roadmap-right {
    width: 50%;
    padding-top: 82px;
    display: flex;
    justify-content: center;

    ul {
      list-style: none;

      li {
        height: 100px;
        &:hover {
          h3::before {
            @include roadmap-dot-hover;
            transform: scale(1.3);
          }
          h3 {
            font-size: 2rem;
          }
          .roadmap-p {
            font-size: 1.1rem;
          }
        }

        h3 {
          padding-left: 60px;
          margin-top: 0;

          @include desktop {
            padding-left: 100px;
          }

          &::before {
            @include roadmap-dot;
            left: -19px;
            top: -2px;
          }
        }
        p {
          padding-left: 60px;

          @include desktop {
            padding-left: 100px;
          }
        }
      }
    }
  }
}

//frontpage Aquaponics section

.fp-ap-info {
  display: flex;
  flex-wrap: wrap;

  .fp-ap-container {
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    align-content: space-between;

    @include desktop {
      width: 33%;
    }

    .ap-info-img {
      width: 100%;
      text-align: center;
      height: 120px;

      img {
        width: 40%;
        height: 120px;
      }
    }
    .ap-info-p {
      font-size: 1.25rem;
      margin-top: auto;
      margin: 0;
    }
    .ap-info-h3 {
      font-size: 1.5rem;
    }
  }
}

//front page mission section
.fp-mission {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @include center-page;
  position: relative;
  z-index: 5;

  img {
    width: 100%;
  }
  @include desktop {
    padding: 0;
    box-shadow: $section-box-shadow;
    max-width: 1250px;
    background-color: white;
    .fp-miss-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;

      &:nth-child(odd) {
        .mission-image {
          order: 2;
          text-align: end;
        }
      }
      .mission-image {
        width: 50%;

        img {
          max-width: 95%;
          height: 300px;
        }
      }
      .mission-content {
        width: 50%;
        padding: 0 20px 20px 20px;

        h3 {
          font-size: 2rem;
          margin-top: 0;
        }
        p {
          font-size: 1.25rem;
          line-height: 28px;
        }
      }
    }
  }
}

.home {
  h1 {
    @include screen-reader-hide;
  }

  //How we're getting there

  .getting-there {
    position: relative;
    min-width: 100%;

    article {
      position: relative;
      font-size: 1.25rem;
      z-index: -1;
      @include center-page;
      padding: 0 1.25rem 0 1.25rem;
      line-height: 1.25rem;

      &::after {
        @include space-ring-bg;
        background-position: top right;
      }
      @include desktop {
        padding-top: 12.5rem;
      }
    }

    .button-center {
      @include center-page;
      margin-top: 2rem;
      margin-bottom: 4.25rem;

      @include desktop {
        margin-bottom: 12.5rem;
      }
    }
    a {
      @include button-anchor;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .entry-content {
      width: 100%;
      @include desktop {
        width: 70%;
        margin-bottom: 2.5rem;

        h2 {
          margin-bottom: 2.25rem;
        }
      }
    }
  }
}

//button center

.button-center {
  text-align: center;
  @include desktop {
    text-align: left;
  }
}
