footer {
  background: $footer-bg-color-grey;
  color: $footer-font-color;

  .footer-center {
    @include center-page;
  }

  a {
    text-decoration: none;
    color: $footer-font-color;
  }

  .subscription {
    background: $footer-bg-color-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    // &:active{
    //   // background: url('/./../../assets/images/photos/subscription-confirmation-banner-smaller.png');
    //   background: blue;
    // }
    .subscribe-description {
      display: none;
      @include desktop {
        display: unset;
      }
    }

    .subscription-confirmed {
      display: none;
    }

    #wpcf7-f108-o1 {
      .wpcf7-form {
        width: 100%;
      }
      .wpcf7-submit {
        height: 45px;
        width: 150px;
        border-radius: 6px;
        border: none;
        background: linear-gradient(90deg, #158130 0%, #21bf48 100%);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
        font-size: 1rem;
        font-weight: normal;
        margin-top: 1rem;
        .active {
          .subscription {
            background: red;
            // background-image: url('/../assets/images/photos/Subscription-confirmation-banner-smaller.png');
          }
          .subscription-confirmed {
            display: unset;
          }
          .wpcf7-mail-sent-ok {
            display: none;
          }
        }
      }

      .wpcf7-text {
        background: #cccc;
        border: none;
        padding: 0.5rem;
      }
    }
  }

  .subscription {
     &.active {
      background-image: url('../../assets/images/photos/Subscription-confirmation-banner-smaller.png');
    }
  }

  .contact-media {
    background: $footer-bg-color-grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding-bottom: 1.5rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-left: 0;
      li {
        margin-left: 1rem;
        margin-right: 1rem;
        &:nth-child(1) {
          border-right: 1px solid $footer-font-color;
          padding-right: 1rem;
        }
      }
    }
    .social-media {
      i {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.6rem;
        text-align: center;
        justify-content: center;
        &:nth-last-child(1) {
          // margin-right: 0;
        }
      }
    }

    @include desktop {
      background: $footer-bg-color;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
