button {
  box-shadow: none;
}
html {
  height: 100%;
}
.site-header {
  background-color: $header-color-transparent;
  box-shadow: $header-box-shadow;
  position: relative;
  width: 100%;
  .center-header {
    display: flex;
    width: inherit;
    height: 60px;
    .main-navigation {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      margin-left: auto;
      position: relative;

      &.toggled {
        background-color: $hamburger-color;
        position: fixed;
        z-index: 20;
        right: 0;
        top: 46px;
        top: 0;
        height: 100vh;
        width: 75%;

        .hamburger.is-active .hamburger-inner,
        .hamburger.is-active .hamburger-inner::before,
        .hamburger.is-active .hamburger-inner::after,
        .hamburger--arrow-r.is-active .hamburger-inner::before,
        .hamburger--arrow-r.is-active .hamburger-inner::after {
          background-color: white;
        }
        .bottom-nav-options {
          position: absolute;
          bottom: 0;
          padding-right: 5px;
        }
        a {
          color: white;
        }
      }
    }
    /* hamburger starts */

    .is-active {
      z-index: 1;
      height: 60px;
      margin-right: auto;
    }

    .toggled {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      //   position: relative;
      justify-content: flex-end;

      .menu-main-menu-container {
        .nav-menu {
          display: flex;
          flex-direction: column;
          margin-top: 60px;
          text-align: right;

          li {
            margin-top: 60px;
            margin-right: 20px;
          }
        }
      }
    }
    /* hamburger ends */

    .site-branding {
      width: 50%;
      img {
        max-width: 70px;
        height: 80%;
        margin-top: 10px;
      }
    }
  }

  @include desktop {
    button {
      display: none;
    }
    img {
      max-width: 20%;
      height: 100%;
      margin-top: 10px;
    }
    .center-header {
      @include center-page;
      align-items: center;
      min-height: 100px;
      line-height: 27px;
      .site-branding {
        width: 50%;
      }
      .menu {
        display: flex;
        justify-content: flex-end;
        li a:hover {
          border-bottom: 4px solid $nav-underline-color;
        }
        li {
          margin-left: 40px;
          max-height: 22px;
          a {
            font-size: 1.25rem;
            color: black;
          }
        }
      }
    }
  }
}
