// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin mobile-max {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin center-page {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin roadmap-dot {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #9b9b9b 51%, #fcfcfc 53%);
  position: absolute;
}

@mixin roadmap-dot-hover {
  background: radial-gradient(
    ellipse at center,
    #00d4e8 0%,
    #00d4e8 50%,
    #ffffff 51%,
    #f7f7f7 100%
  );
}

@mixin button-style {
  height: 3rem;
  width: 150px;
  background: $btn-color;
  color: white;
  text-shadow: none;
  box-shadow: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 25px;
}

@mixin button-anchor {
  text-decoration: none;
  border: 1px solid white;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  background: $btn-color;
  color: white;
  border-radius: 6px;
}

@mixin screen-reader-hide {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:focus {
    background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: $color__text-screen;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

@mixin white-space-both-side {
  padding-right: 2rem;
  padding-left: 2rem;
}

@mixin space-ring-bg {
  content: '';
  z-index: -1;
  background: url('../../assets/images/illustrations/space-ring.svg');
  opacity: 0.4;
  position: absolute;
  background-repeat: no-repeat;
  background-size: fill;
  top: -100px;
  right: -20%;
  width: 90%;
  padding-bottom: 60%;
}

@mixin fp-gradient-rect {
  content: '';
  z-index: -1;
  background: url('../../assets/images/Icons/7DE0379D0C234C6C.jpg');
  opacity: 0.4;
  position: absolute;
  background-repeat: no-repeat;
  background-size: fill;
  top: 0;
  right: 0;
  width: 90%;
  padding-bottom: 60%;
}
