// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin center-page {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin roadmap-dot {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #9b9b9b 51%, #fcfcfc 53%);
  position: absolute;
}

@mixin roadmap-dot-hover {
  background: radial-gradient(
    ellipse at center,
    #00d4e8 0%,
    #00d4e8 50%,
    #ffffff 51%,
    #f7f7f7 100%
  );

  //   position: absolute;
}
