.page-the-project {

    .whats-terra {
        padding: $page-padding-mobile;
        // padding-left: 2rem;
        // padding-right: 2rem;
        // background-image: url('../../assets/images/illustrations/space-ring-update.svg');
        // background-repeat: no-repeat;
        // background-position: top 20px right -250px;
        // background-size: 60%;
        
        &::after {
            content: "";
            background-image: url('../../assets/images/illustrations/space-ring-update.svg');
            background-repeat: no-reapeat;
            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;   
            width : 100%

          }


    }

}