/*--------------------------------------------------------------
# Footer Templates
--------------------------------------------------------------*/

.page-the-project {
  img {
    max-width: 100%;
  }

  p {
    line-height: 1.5rem;
  }

  .whats-terra-container {
    width: 100%;
    position: relative;
    &::after {
      @include space-ring-bg;
      background-position: bottom right;
      bottom: -100px;
      right: 50px;
      width: 40%;
    }
  }

  .whats-terra {
    padding: $page-padding-mobile;
    width: 100%;
    position: relative;

    p {
      font-size: 1.2rem;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 5rem;
      }
    }
    @include desktop {
      @include center-page;
      background-size: 100%, 50%;
      p {
        width: 65%;
        font-size: 1.2rem;
      }
    }
  }

  .lack-aware-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../assets/images/photos/lack-of-awareness.jpeg');
    height: 260px;
    background-repeat: no-repeat;
    background-size: 162%;
    background-position: bottom -72px left -20px;
    position: relative;
    @include desktop {
      height: 618px;
      background-size: 130%;
    }

    .lack-aware-h2 {
      max-width: 400px;
      color: white;
      position: absolute;
      text-align: center;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.5rem;
      font-size: 1em;
      @include desktop {
        max-width: 900px;
        font-size: 2em;
        line-height: 1.5em;
      }
    }
  }

  .lack-aware-cards {
    @include center-page;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    @include desktop {
      position: relative;
      margin-top: -130px;
    }

    h2,
    h3,
    p {
      color: $font-color;
    }

    .lack-aw-item-wraps {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include white-space-both-side;
      @include desktop {
        width: 25%;
      }
    }
    .lack-aw-dc-wrap {
      max-width: 210px;
    }
  }

  .who-we-are {
    @include center-page;
    margin-top: 5rem;
    margin-bottom: 5rem;
    p,
    h3 {
      color: $font-color;
      text-align: center;
    }
    h2 {
      padding-left: 2rem;
    }
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
  }

  .team-member {
    width: 50%;
    flex-direction: column;
    @include desktop {
      width: 25%;
    }

    &:hover {
      border-radius: 20px;
      background: linear-gradient(
        180deg,
        rgba(0, 212, 232, 0.3),
        rgba(0, 45, 110, 0.5)
      );
    }
  }

  .member-photo {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    img {
      object-fit: contain;
    }

    @include desktop {
      padding: 1rem;
    }

    .member-detail-arrow {
      font-size: 20px;
      border: 1px solid white;
      text-align: center;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: white;
      box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: 10%;
      right: 10%;
      margin: 0;
      i {
        color: $font-awesome-color;
        position: absolute;
        bottom: 6px;
        right: 7px;
      }
    }
  }

  .project-partners {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url('../../assets/images/illustrations/futurisitc_illustration.svg');
    background-repeat: no-repeat;
    background-size: contain 170%;
    background-position: right -270px bottom -270px;
    margin: 0 auto;
    padding-bottom: 10rem;
    h2 {
      max-width: 94%;
      padding-left: 0;
    }
  }

  .partner-entries {
    @include center-page;
    border: 1px solid white;
    padding: $page-padding-mobile;
    box-shadow: $section-box-shadow;
    border-radius: 20px;
    max-width: 94%;
    padding: 2rem 2rem;
    background: white;
  }

  .source-funds {
    width: 100%;
    background: linear-gradient(180deg, #42a4fa 0%, #002d6e 100%);
    h2 {
      @include center-page;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 3rem;
      padding-top: 2rem;
      @include desktop {
        font-size: 2.6em;
        margin-bottom: 5rem;
      }
    }
    h2,
    h3,
    p,
    li {
      color: white;
    }
  }

  .sf-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include center-page;

    @include mobile-max {
      // border-left: 8px solid #ffffff;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .seed-container {
      border-left: 8px solid #ffffff;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .series-container,
    .seed-container {
      display: flex;
      width: 100%;
      margin-left: 2rem;
      border-left: 8px solid #ffffff;

      &:hover {
        .series-rnd-h3,
        .seed-rnd-h3 {
          font-size: 2rem;
          border-bottom: 4px solid white;
        }
        .phase-1::before {
          @include roadmap-dot-hover;
          transform: scale(1.3);
          box-shadow: 0 0 11px 0 #ffffff;
        }
        .phase-2::before {
          @include roadmap-dot-hover;
          transform: scale(1.3);
          box-shadow: 0 0 11px 0 #ffffff;
          top: 2px;
        }
      }
    }
    .series-container {
      border-left: none;
    }
  }
  .phase-2,
  .phase-1 {
    position: relative;
    width: 30%;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    &::before {
      @include roadmap-dot;
      left: -51px;
      top: -5px;
      transition: all 0.5s ease-in-out;
    }
    @include desktop {
      width: 20%;
    }
  }

  .phase-2 {
    &::before {
      @include roadmap-dot;
      left: -43px;
      top: -5px;
    }
  }
  .series-round,
  .seed-round {
    width: 100%;
    padding-bottom: 4rem;
    margin-right: 2rem;
    margin-left: 1rem;
    @include desktop {
      width: 40%;
      font-size: 1.3rem;
    }
  }

  .series-rnd-h3,
  .seed-rnd-h3 {
    border-bottom: 2px solid white;
    padding-bottom: 0.8rem;
    transition: all 0.5s ease-in-out;
    @include desktop {
      margin-top: 0;
      text-align: center;
    }

    @include mobile-max {
      margin-right: 2rem;
    }
  }

  .seed-p-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }

  .series-p-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .series-p-left,
    .series-p-middle,
    .series-p-right {
      width: 25%;
    }
  }

  .white-paper {
    @include center-page;
    padding: $page-padding-mobile;
    margin-top: 3rem;
    margin-bottom: 1rem;
    @include desktop {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }

    .wh-paper-h3 {
      color: #4a4a4a;
      font-size: 1.2rem;
      font-weight: 200;
      @include desktop {
        font-size: 1.5rem;
        font-weight: 200;
      }
    }
    .wh-paper-btn {
      @include button-style;
      background: white;
      border-radius: 6px;
      width: 190px;
      border: 2px solid $btn-border-color;
      color: $btn-border-color;
      height: 55px;
      a {
        text-decoration: none;
        color: $btn-border-color;
        font-size: 1.05rem;
      }
      i {
        font-size: 1.3rem;
      }
      &:hover {
        border: 2px solid #0f2e6b;
        color: #0f2e6b;
        a {
          color: #0f2e6b;
        }
      }
    }
  }

  /**
   * Team Modal popup
   */
  .team-modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 0;
    transform-origin: top center;
    transform: scaleY(0);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    &__close-btn {
      position: absolute;
      right: -20px;
      top: -20px;
      padding: 1rem;
      cursor: pointer;
      z-index: 99;
      border-radius: 50%;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $nav-underline-color;
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        background: #000;
        background: lighten($nav-underline-color, 10%);
        color: #fff;
      }
    }

    &__description {
      overflow-y: scroll;
      padding: 2rem;
      height: 33vh;
      @include desktop {
        height: 75vh;
      }
    }

    &--active {
      opacity: 1;
      position: fixed;
      background: linear-gradient(180deg, #1670c0 0%, #5aa2dd 100%);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      transform: scaleY(1);
      width: 100%;
      overflow: hidden;
      z-index: 999;
    }

    &__inner {
      background: #f3f2f0;
      max-width: 80%;
      max-height: 80vh;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 5.5rem;
      border-bottom: 1px solid white;
      border-radius: 20px 20px 20px 20px;
      @include desktop {
        max-width: 60%;
        margin-top: 5.5rem;
      }
    }

    &__left-col {
      width: 100%;
      background: #000;
      // background: orange;
      border: 1px solid black;
      border-radius: 20px 20px 0 0;
      text-align: center;
      padding: 2rem;
      h3,
      p {
        color: white;
      }
      @include desktop {
        width: 40%;
        border: 1px solid black;
        border-radius: 20px 0 0 20px;
        height: 80vh;
      }
    }

    &__right-col {
      width: 100%;
      @include desktop {
        width: 58%;
      }
    }

    &__img {
      max-width: 50%;
      height: auto;
      position: relative;
      @include desktop {
        max-width: 100%;
      }
    }
    &__text-wrap {
      margin: 0 auto;
      max-width: 200px;
      text-align: left;
      @include desktop {
        margin-top: 2rem;
        font-size: 1.2rem;
      }
    }
  }
} // .page-the-project
