.page-support-us {
  position: relative;

  .banner-title {
    bottom: 9vw;
  }
  a.fund-btn {
    @include button-anchor;
    position: relative;
  }
  .entry-content {
    @include center-page;
    padding: $page-padding-mobile;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .world {
      img {
        max-width: 100%;
        z-index: -5;
        height: auto;
        object-fit: none;
      }
    }
    p {
      justify-content: space-between;
      color: $font-color;
      text-align: left;
      line-height: $font__line-height-body;
    }
    h2 {
      width: 18pc;
      color: $font-color;
      font-size: 22px;
      height: 5pc;
      margin: 0;
    }

    @include desktop {
      @include white-space-both-side;
      padding-top: 8pc;
      h2 {
        width: auto;
      }
      p {
        width: 60%;
        padding: 0% 3% 10% 0%;
        height: 20%;
      }
      .banner-title h1 {
        bottom: 9vw;
      }
      .button-center {
        height: 25vh;
      }
      .world {
        img {
          position: absolute;
          overflow: hidden;
          z-index: -5;
          right: 0;
          width: 37%;
          height: 33%;
          bottom: 30.5%;
        }
      }
    }
  }
}
