.disclaimer-center {
  @include center-page;
  line-height: $font__line-height-body;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;

  .disclaimer-title {
    text-align: center;
  }
}
