.page-the-project {
  img {
    max-width: 100%;
  }

  .whats-terra {
    padding: $page-padding-mobile;
  }

  .lack-aware-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../assets/images/photos/lack-of-awareness.jpeg');
    height: 250px;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: bottom -72px left -20px;
    position: relative;
    @include desktop {
      height: 640px;
      background-size: 130%;
    }

    .lack-aware-h2 {
      width: 290px;
      color: white;
      position: absolute;
      text-align: center;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.87rem;
      font-size: 1.4em;
      @include desktop {
        width: 900px;
        font-size: 4rem;
        line-height: 1.2em;
      }
    }
  }

  .lack-aware-cards {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
      position: relative;
      margin-top: -130px;
    }

    .lack-aw-item-wraps {
      width: 50vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include desktop {
        width: 25vw;


      }
    }
  }
}
