.page-support-us {
  position: relative;
  .banner-title {
    bottom: 9vw;
  }
  a.fund-btn {
    @include button-anchor;
    position: relative;

    text-align: none;
  }
  .entry-content {
    @include center-page;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
      max-width: 100%;
      height: auto;
      object-fit: none;
    }
    p {
      justify-content: space-between;
      color: $font-color;
      text-align: left;
      line-height: $font__line-height-body;
      width: 50pc;
      height: 10pc;
    }
    h2 {
      width: 18pc;
      color: $font-color;
      font-size: 22px;
      height: 5pc;
      margin: 0;
    }

    @include desktop {
      .banner-title h1 {
        bottom: 9vw;
      }

      .world {
        img {
          position: absolute;

          right: 0;
          width: 100px;
          height: 620px;
          object-fit: cover;
          overflow: hidden;
        }
      }
    }
  }
}
