//testimony section

.fp-testimonies {
  @include center-page;
  padding: $page-padding-mobile;
}
.testimony-background {
  @include desktop {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 80%;
      top: 15%;
      right: 0;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background: linear-gradient(180deg, #00d4e8 0%, #002d6e 100%);
      box-shadow: 0 15px 40px 15px rgba(0, 45, 110, 0.15);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
      z-index: -1;
    }
  }
} //end of testimony background rect

.testimony-entries {
  padding: $page-padding-mobile;
  position: relative;
  width: 100%;
  @include desktop {
    padding: 0;
  }

  .fp-testimony {
    margin: 100px 0 30px 0;
    box-shadow: $section-box-shadow;
    border-radius: 15px;
    width: 100%;
    @include desktop {
      width: 60%;
      height: auto;
      justify-content: space-around;
      transition: all 0.5s ease-in-out;
      .testimony-img,
      .testimony-content {
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        justify-content: space-around;
        width: 100%;
        padding: 2rem;
        .testimony-img {
          transform: scale(1.3);
        }
        .testimony-content {
          font-size: 1.5rem;
          line-height: 1.7rem;
        }
      }

      .testimony-img {
        width: 30%;
        align-self: center;
      }
    }

    .testimony-content {
      display: flex;
      flex-direction: column;
      position: relative;
      @include desktop {
        font-size: 1rem;
        width: 60%;
        padding: 3rem 1.2rem 3rem 1.2rem;
      }

      h3 {
        font-size: inherit;
        font-weight: 400;
        align-self: flex-end;
        order: 2;
        padding: 40px 20px 0 0;
        margin-top: 0;
        &::before {
          content: '- ';
        }
      }
      p {
        margin: 0;
      }

      &::before {
        content: '\201C';
        position: absolute;
        font-size: 150px;
        font-family: $font__main;
        color: #002d6e;
        left: -5%;
        top: 10%;
        padding-top: 20px;
        @include mobile-max {
          padding-top: 10px;
          left: 10%;
          top: 20%;
          font-size: 100px;
        }
      }
    }

    @include desktop {
      width: 70%;
      display: flex;
      flex-wrap: wrap;

      z-index: 1;
      background-color: white;
    }

    // changes to happen only at mobile
    @include mobile-max {
      .testimony-content {
        width: inherit;
        margin-top: 120px;
        padding: $page-padding-mobile;
        padding-top: 120px;

        p {
          padding-left: 20px;
          padding-right: 20px;
        }

        h3 {
          align-self: flex-start;
          padding: 20px;
        }
      }

      .testimony-img {
        position: relative;
        width: 100%;
        text-align: center;

        img {
          transform: translate(50%, -50%);
          position: absolute;
          right: 50%;
          top: 0;
        }
      }
    } //end of - changes to happen only at mobile
  }
} //end of testimony entry
