body {
  font-family: $font__main;
  line-height: $font__line-height-body;
  letter-spacing: $body-letter-spacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
  color: $header-title-font-color;
  line-height: $font__line-height-heading;
}

p {
  color: $font-color;
  font-size: $font_size_p_mobile;
  @include desktop {
    font-size: $font_size_p_desktop;
  }
}

h2 {
  font-size: $font__h2-size-mobile;
  @include desktop {
    font-size: $font__h2-size-desktop;
  }
}
