body {
  font-family: $font__main;
  line-height: $font__line-height-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
  color: $header-title-font-color;
  // line-height: $font__line-height-pre;
}
p {
  color: $font-color;
}

h2 {
  font-size: 2.625rem;
  line-height: 1.5em;
}
