body {
  font-family: $font__main;
  line-height: $font__line-height-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
  color: $white-text-color;
}
p {
  color: $white-text-color;
}

h2 {
  font-size: 2.625rem;
}
