// Structure
$desktop-width: 620px;
$desktop-max-width: 1140px;
$base__space-unit: 1.5rem;

// Colors
$header-color-transparent: rgba(255, 255, 255, 0.8);
$header-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$section-box-shadow: 0 14px 40px 10px rgba(0, 0, 0, 0.1);
$font-awesome-color: #002d6e;
$footer-bg-color-grey: #2f2e2f;
$footer-bg-color: #1c1c1c;
$footer-font-color: #ffffff;
$header-title-font-color: #4a4a4a;
$font-color: #4a4a4a;
$hamburger-color: #002d6e;
$nav-underline-color: #00ecf5;
$white-text-color: #ffffff;

//button colors
$btn-color: linear-gradient(90deg, #002d6e 0%, #2f88d3 100%);
$pdf-btn-color: #ffffff;
$btn-border-color: #00d4e8;
$roadmap-dot-color: #00d4e8;
$subscribe-btn-color: linear-gradient(90deg, #158130 0%, #21bf48 100%);
$source-of-funds-color: #ffffff;
$point-form-icon-color: linear-gradient(180deg, #00ecf5 0%, #00d4e8 100%);
$view-more-btn-color: linear-gradient(180deg, #00ecf5 0%, #00d4e8 100%);

// screen readers
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$font__main: ‘Nunito Sans’;
$font__heading: ‘Lato’;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.25rem;
$font__line-height-pre: 1.6rem;
$page-padding-mobile: 0 1.25rem 0 1.25rem;
