// Structure

$base__space-unit: 1.5rem;

// Colors
$header-color-transparent: rgba(255,255,255,0.8);
$font-awesome-color:#002D6E;
$footer-bg-color: #1C1C1C;
$header-title-font-color:#4A4A4A;
$font-color:#4A4A4A;
$hamburger-color:#002D6E

//buton colors
$btn-color: linear-gradient(90deg, #002D6E 0%, #2F88D3 100%);
$pdf-btn-color: #FFFFFF; 
$btn-border-color: #00D4E8;
$roadmap-dot-color:#00D4E8;
$subscribe-btn-color:linear-gradient(90deg, #158130 0%, #21BF48 100%);
$source-of-funds-color:#FFFFFF;
$point-form-icon-color:linear-gradient(180deg, #00ECF5 0%, #00D4E8 100%);
$view-more-btn-color:linear-gradient(180deg, #00ECF5 0%, #00D4E8 100%);



// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
